/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --bg-color: #FFFFFF;
  --accent-color: #000000;
  --fill-button-color: #fff;
  --watermark-border-color: #FFF;
  --heart-contour-color: #000;
  --heart-main-body: #FF0000;
  --bg-patern: repeating-linear-gradient(
    #d3d3d3,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  ), repeating-linear-gradient( 90deg,
    #d3d3d3,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  ), linear-gradient( #e7e7e7, #1a1a1a
);
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P-Regular';
  --main-font-weight-heading: 700;
  --main-font-weight-text: 400;
}


